extends layout

block head-javascripts

block content
  div.tasklist-div.ui-widget
    div(style='text-align: left')
      h2 This is my list!
    button#create-new-task New
    div#tasks-accordion
      each task in taskList
        div.task-header(task-id="#{task.id}")
          .task-name #{task.name}
          .task-due-date #{task.dateDueFriendly}
          button.task-check-complete
        div(task-id="#{task.id}")
          textarea.task-notes-edit #{task.notes}
  a(href='/') Home
  div#create-new-task-dialog(title='New task')
    form#create-new-task-form
      fieldset
        label(for='title') Title (required)
        input#new-task-title(type='text', name='title', maxlength='25', required)
        label(for='dateDue') Due date (required)
        input#new-task-due-date-picker(name='dateDue', required)
        label(for='notes') Notes
        textarea#new-task-notes(name='notes')
  
block body-javascripts
  script(src='/javascripts/monkeys.js')
      

