div#tasklist-div
    div
      h2 #{userId}: These are your tasks!
    button#create-new-task New
    div#create-new-task-dialog(title='New task')
        form#create-new-task-form
          fieldset
            label(for='title') Title (required)
            input#new-task-title(type='text', name='title', maxlength='25', required)
            label(for='dateDue') Due date (required)
            input#new-task-due-date-picker(name='dateDue', required)
            label(for='notes') Notes
            textarea#new-task-notes(name='notes')
    div#tasks-accordion
        each task in taskList
          div.task-header(task-id="#{task.id}")
            .task-name #{task.name}
            .task-due-date #{task.dateDueFriendly}
          div(task-id="#{task.id}")
            textarea.task-notes-edit #{task.notes}
            button.task-check-complete
script(src='/javascripts/monkeys-tasklist.js')