div#tasklist-div
    div.tasklist-header
      h2.tasklist-header-text #{userId}: These are your tasks!
      button.signout-button Sign out
    div#tasks-accordion
        each task in taskList
          div.task-header(task-id="#{task.id}")
            .task-name #{task.name}
            .task-due-date(due-date="#{task.dateDue}") #{task.dateDueFriendly}
          div.task-content(task-id="#{task.id}")
            textarea.task-notes-edit #{task.notes}
            button.task-check-complete
    button#create-new-task(style='margin-top: 10px') New
    div#create-new-task-dialog(title='New task')
        form#create-new-task-form
          fieldset
            label(for='title') Title (required)
            input#new-task-title(type='text', name='title', maxlength='25', required)
            label(for='dateDue') Due date (required)
            input#new-task-due-date-picker(name='dateDue', required)
            label(for='notes') Notes
            textarea#new-task-notes(name='notes')
script(src='/javascripts/monkeys-tasklist.js')